<h1>Listing information</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phonenumber</th>
      <th>Comment</th>
      <th>Picture</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @information.each do |information| %>
      <tr>
        <td><%= information.name %></td>
        <td><%= information.phoneNumber %></td>
        <td><%= information.comment %></td>
        <td><%= information.picture %></td>
        <td><%= link_to 'Show', information %></td>
        <td><%= link_to 'Edit', edit_information_path(information) %></td>
        <td><%= link_to 'Destroy', information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Information', new_information_path %>
